# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android Studio/IntelliJ
*.iml
.idea/

# VS Code
.vscode/

# Xcode
DerivedData/

# Misc
*.log
